@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}


@theme {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

:root {
  --color-fd-primary: #2e8b7f;
  --color-fd-primary-foreground: #ffffff;
}

.dark {
  --color-fd-primary: #3a9d8f;
  --color-fd-primary-foreground: #ffffff;
}
